.padding15 {
  padding: 15px;
}

.colorIcon {
  color: #8a8a8a;
}

.marginHorizontal10 {
  margin: 10px 0px;
}

.list_rule {
  margin-left: 20px;
  & li {
    margin: 10px 0px;
  }
}

app-widget {
  & mat-card.widget {
    position: static;
    margin: 0px;
    padding: 15px;
    height: calc(100% - 40px);
  }
}

.col_12 {
  width: 98%;
  margin: 0px 1%;
}

.col_6 {
  width: 48%;
  margin: 0px 1%;
}
