<main>
  <form [formGroup]="form" class="flex register_form">
    <div class="flex_col_center formContainer">
      <mat-form-field>
        <input type="password" formControlName="password" matInput>
        <mat-placeholder>
          <mat-icon>lock</mat-icon>
          <span class="placeholder_title">Nhập lại mật khẩu</span>
        </mat-placeholder>
        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="newPassword" matInput>
        <mat-placeholder>
          <mat-icon>lock</mat-icon>
          <span class="placeholder_title">Mật khẩu mới</span>
        </mat-placeholder>
        <mat-error *ngIf="formErrors.newPassword">{{formErrors.newPassword}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="confirmNewPassword" matInput>
        <mat-placeholder>
          <mat-icon>lock</mat-icon>
          <span class="placeholder_title">Xác nhận mật khẩu</span>
        </mat-placeholder>
        <mat-error *ngIf="formErrors.confirmNewPassword">{{formErrors.confirmNewPassword}}</mat-error>
      </mat-form-field>
    </div>
    <div class="flex_col_center">
      <button mat-raised-button color="primary" class="btn_submit"
              (click)="changePassword(form.value)">
        Đổi mật khẩu
      </button>
    </div>
  </form>
</main>
<app-notification #notification></app-notification>
