main {
  margin: 20px;
  user-select: none;
  & button {
    padding: 3px 13px;
    margin: 10px 10px !important;
  }
  & app-avatar {
    margin-top: 0px;
  }
  & form {
    &.register_form {
      flex-direction: column;
    }
    & .wrapper {
      width: 100%;
      padding: 0px;
      margin: 0px;
      align-items: center;
      flex-direction: row;
      & .container_input {
        flex-grow: 1;
        margin-right: 30px;
      }
    }
  }
  & .formContainer {
    flex-direction: column;
  }
}
