mat-toolbar {
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.5px 0.5px 3px #717171;
  background-color: #333 !important;
  .user {
    height: 40px;
    align-items: center;
  }
  & .fullName_text {
    margin-left: 12px;
    font-size: 12pt;
  }
}
