<mat-toolbar color="warn">
  <div class="flex_row_center">
    <button (click)="menuClick()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="toggleSearch()" mat-icon-button>
      <mat-icon class="search_button">search</mat-icon>
    </button>
  </div>
  <div class="flexGrow group_center">
    <p>{{titleToolbar}}</p>
    <div [@widthSearch]="state" class="search_group">
      <input placeholder="Tìm kiếm cầu thủ..." >
    </div>
  </div>
  <div class="user flex">
    <app-avatar [imagesURL]="dataUser.imagesURL"></app-avatar>
    <span class="fullName_text">{{dataUser.fullName}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['', 'profile', dataUser.userID]" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Trang cá nhân</span>
      </a>
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>subdirectory_arrow_right</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
