<mat-card *ngIf="user">
  <div class="flex_row_center">
    <app-avatar [imagesURL]="user.imagesURL"></app-avatar>
    <div class="user_info">
      <p>Tên người dùng: {{user.fullName}}</p>
      <p>Loại người dùng: {{user.typeUser | typeUser}}</p>
    </div>
  </div>
  <div class="flex_row_center action_group">
    <button (click)="viewUser()" mat-button>
      <mat-icon>recent_actors</mat-icon>
      <span>Xem thông tin</span>
    </button>
    <button (click)="deleteUser()" mat-button>
      <mat-icon>delete</mat-icon>
      <span>Xóa người dùng</span>
    </button>
  </div>
</mat-card>
