:host {
  user-select: none;
}
.user_info {
  margin-left: 10px;
  & p {
    margin: 3px 0px;
  }
}
.action_group {
  border-top: 1px dashed #dadada;
  margin-top: 10px;
  padding-top: 10px;
  justify-content: space-between;
  & mat-icon {
    color: #8a8a8a;
  }
  & span {
    color: #8a8a8a;
  }
}
mat-card {
  padding: 10px 15px;
}
