<div class="sidenav_container">
  <div class="sidenav_header">
    <img src="../../../../assets/img/1.png">
    <p>Hệ thống quản lí giải bóng đá vô địch Quốc Gia</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý đội bóng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Thêm đội bóng
        </button>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa thông tin đội bóng
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý cầu thủ
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Thêm cầu thủ
        </button>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa thông tin cầu thủ
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

