@import '../../../../styles/colors';

.sidenav_container {
  height: 100vh;
  background-color: $sidenavBackground;
  width: 250px;
  & .sidenav_header {
    padding: 20px;
    img {
      width: 100px;
      display: block;
      margin: 0px auto;
    }
    p {
      margin-top: 20px;
      font-size: 13pt;
      text-align: center;
      color: #fbfbfb;
      text-shadow: 1px 1px 1px #6f6f6f;
    }
  }
  & .buttonFullWidth {
    text-align: left;
    padding: 6px 0px;
    padding-left: 24px;
    color: $textSidenav;
  }
  & mat-expansion-panel {
    border-bottom: 1px solid #444444;
    &:first-child {
      border-top: 1px solid #444444;;
    }
  }
}
