<div class="sidenav_container">
  <div class="sidenav_header">
    <img src="../../../../assets/img/1.png">
    <p>Hệ thống quản lí giải bóng đá vô địch Quốc Gia</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý đội bóng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'team' , 'add-team']"
        >
          Thêm đội bóng
        </a>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'team' , 'edit-team']"
        >
          Chỉnh sửa thông tin đội bóng
        </a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lịch thi đấu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Xem lịch thi đấu
        </button>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa lịch thi đấu
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bảng xếp hạng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Xem bảng xếp hạng
        </button>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa bảng xếp hạng
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quy định giải đấu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <button
          class="buttonFullWidth"
          mat-button
        >
         Xem quy định
        </button>
        <button
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa quy định
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="dataUser.typeUser === TYPE_USER.OWNER">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý người dùng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'user', 'add-user']"
        >
          Thêm người dùng
        </a>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'user', 'edit-user']"
        >
          Chỉnh sửa thông tin người dùng
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

