<div class="sidenav_container">
  <div class="sidenav_header">
    <img src="../../../../assets/img/1.png">
    <p>Hệ thống quản lí giải bóng đá vô địch Quốc Gia</p>
  </div>
  <mat-accordion>
    <a
      class="buttonFullWidth borderBottomLink"
      mat-button
      [routerLink]="['/']"
    >
      Trang chủ
    </a>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý đội bóng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'team' , 'add-team']"
        >
          Thêm đội bóng
        </a>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'team' , 'view-team']"
        >
          Danh sách đội bóng
        </a>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lịch thi đấu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          [routerLink]="['/', 'fixtures' , 'view']"
          class="buttonFullWidth"
          mat-button
        >
          Xem lịch thi đấu
        </a>
        <a
          [routerLink]="['/', 'fixtures' , 'create']"
          class="buttonFullWidth"
          mat-button
        >
          Tạo lịch thi đấu
        </a>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kết quả
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          [routerLink]="['/', 'result' , 'view-result']"
          class="buttonFullWidth"
          mat-button
        >
          Xem kết quả
        </a>
        <a
          [routerLink]="['/', 'result' , 'create-result']"
          class="buttonFullWidth"
          mat-button
        >
          Ghi nhận kết quả
        </a>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bảng xếp hạng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          [routerLink]="['/', 'table' , 'view']"
          class="buttonFullWidth"
          mat-button
        >
          Xem bảng xếp hạng
        </a>
        <a
          [routerLink]="['/', 'table' , 'edit']"
          class="buttonFullWidth"
          mat-button
        >
          Chỉnh sửa bảng xếp hạng
        </a>
      </div>
    </mat-expansion-panel>

    <a
      *ngIf="dataUser.typeUser === TYPE_USER.OWNER"
      class="buttonFullWidth borderBottomLink"
      mat-button
      [routerLink]="['/', 'rule']"
    >
      Quy định giải đấu
    </a>

    <mat-expansion-panel *ngIf="dataUser.typeUser === TYPE_USER.OWNER">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Quản lý người dùng
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'user', 'add-user']"
        >
          Thêm người dùng
        </a>
        <a
          class="buttonFullWidth"
          mat-button
          [routerLink]="['/', 'user', 'edit-user']"
        >
          Chỉnh sửa thông tin người dùng
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

