app-widget {
  position: relative;
  height: 160px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: block;
  perspective: 5000px;
  & .inactiveFront {
    visibility: hidden;
    opacity: 0;
    transform: rotateY(180deg);
  }

  & .activeBack {
    visibility: visible;
    opacity: 1;
    transform: rotateY(360deg);
  }
  & app-back-widget,
  app-front-widget {
    user-select: none;
    display: block;
    backface-visibility: hidden;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #fff;
    perspective: 3000px;
    transition: transform .5s ease-out 0s, visibility 0s ease-in .2s, opacity 0s ease-in .2s; //transition: visibility 0s ease-in .2s, opacity 0s ease-in .2s, -webkit-transform .5s ease-out 0s;
  }
}
