@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-light-blue, 600);
$my-app-accent: mat-palette($mat-orange, 900);
$my-app-warn: mat-palette($mat-red, 800);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue, 600);
  $alternate-accent: mat-palette($mat-green, A700);
  $alternate-warn: mat-palette($mat-red, 700);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

  @include angular-material-theme($alternate-theme);
}
.form-login-theme {
  $login-primary: mat-palette($mat-red, 800);
  $login-accent: mat-palette($mat-green, 800);
  $login-warn: mat-palette($mat-red, 800);

  $form-login-theme: mat-light-theme($login-primary, $login-accent, $login-warn);
  @include angular-material-theme($form-login-theme)
}
