.flex {
  display: flex;
}
.flex_col_center {
  display: flex;
  justify-content: center;
}
.flex_row_center {
  display: flex;
  align-items: center;
}
.nonPadding {
  padding: 0;
}
.nonMargin {
  margin: 0;
}
.buttonFullWidth {
  display: block;
  width: 100%;
}
.flexGrow {
  flex-grow: 1;
}
