<mat-card *ngIf="isCallAPI && isRenderChild">
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="addInfoTeam.form">
      <ng-template matStepLabel>Thông tin đội bóng</ng-template>
      <main>
        <app-add-info-team
          #addInfoTeam
          (nextStep)="nextStepOne($event)"
        >
        </app-add-info-team>
      </main>
    </mat-step>
    <mat-step [stepControl]="addInfoListPlayer.form">
      <ng-template matStepLabel>Thông tin cầu thủ</ng-template>
      <main>
        <app-add-info-list-player
          #addInfoListPlayer
          (nextStep)="nextStepTwo($event)"
          [rule]="rulePlayer"
        >
        </app-add-info-list-player>
      </main>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Xác nhận</ng-template>
      <main>
        <app-info-team
          [valueForm]="valueForm"
        >
        </app-info-team>
        <div *ngIf="valueForm">
          <p class="title_header">Thông tin cầu thủ</p>
          <p *ngIf="valueForm.player">Tổng số cầu thủ: {{valueForm.player.length}}</p>
          <app-player-item
            *ngFor="let player of valueForm.player"
            [player]="player"
          >
          </app-player-item>
        </div>
        <div class="flex_col_center">
          <button
            class="marginHorizontal5 buttonWithIcon"
            color="primary"
            mat-raised-button
            matStepperPrevious
          >
            <mat-icon>arrow_back</mat-icon>
            <span>Quay lại</span>
          </button>
          <app-button-submit
            (click)="onSave()"
            [title]="'Lưu đội bóng'"
            [disabled]="submitted"
          >
          </app-button-submit>
        </div>
      </main>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
<p *ngIf="isCallAPI && !isRenderChild"
   class="alert_title">
  Đã quá số lượng đội bóng tối đa: 10. Hãy xóa và thử lại</p>
<app-loading-app *ngIf="!isCallAPI"></app-loading-app>
<app-notification #notification></app-notification>
