<mat-card *ngIf="listTable">
  <table class="table">
    <thead>
    <tr>
      <th>Vị trí</th>
      <th>Đội bóng</th>
      <th>Số trận</th>
      <th>Trận thắng</th>
      <th>Trận hòa</th>
      <th>Trận thua</th>
      <th>Hiệu số</th>
      <th>Điểm</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listTable; let i = index">
      <tr [ngClass]="{'firstBackground': i == 0, 'secondBackground': i == 1, 'thirdBackground': i == 2}">
        <td>{{i+1}}</td>
        <td class="name_club flex_col_center">
          <img class="images" src={{item.imagesURL}}>
          <p>{{item.nameTeam}}</p>
        </td>
        <td>{{item.matchNumber}}</td>
        <td>{{item.matchWin}}</td>
        <td>{{item.matchDraw}}</td>
        <td>{{item.matchLost}}</td>
        <td>{{item.goalDifference}}</td>
        <td>{{item.point}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</mat-card>
<app-loading-app *ngIf="!listTable"></app-loading-app>
