@import "../../../../../styles/colors";
mat-card {
  padding: 15px !important;
}
main {
  margin-top: 20px;
}
.marginHorizontal5 {
  margin: 0px 5px;
}

.alert_title {
  text-align: center;
  background: $warn;
  width: 450px;
  margin: 0px auto;
  display: block;
  padding: 10px 0px;
  color: #FFF;
  border-radius: 10px;
}
