:host {
  margin: 15px 0px;
  display: block;
}
.box_player {
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.player_item_button {
  align-self: flex-start;
}
.colorIcon {
  color: #8a8a8a;
}
