$size: 40px;
:host {
  height: $size;
}
.images_box {
  height: $size;
  width: $size;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #333;
}
.text_center {
  line-height: $size;
  text-align: center;
}

